* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  background-color: #f2f3f5;
  margin: auto;
}

header {
  background-color: #000;
}

.bmw-logo {
  background-image: url('../images/bmw50years.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 378px;
}

nav {
  background-color: #064b71;
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.2em 1.4em;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #16588e;
  color: white;
}

h1,
h2 {
  margin: 0.5em;
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  color: #000056;
}

main a {
  color: #000056;
  text-decoration: none;
}
main a:hover {
  color: #fe0000;
  text-decoration: underline;
}

main section {
  border-bottom: 1px dashed #000056;
  margin: 10px;
}

.section-img {
  float: left;
  width: 200px;
  margin: 10px;
}

.section-title {
  font-size: 1.6em;
}

.section-links:hover {
  text-decoration: none;
  color: #fe0000;
}

p {
  margin: 1em;
  line-height: 1.4em;
  letter-spacing: 1px;
}

figure {
  padding: 0.5em;
  margin: 0 1em 0.5em 1em;
  border: 1px dashed #000056;
  float: left;
  max-width: 500px;
}
figcaption {
  font-size: 90%;
}
figure img {
  width: 100%;
}

.news time {
  font-size: 80%;
  font-style: italic;
}

#contact,
#register,
#signin,
#news_form_edit,
#news_form {
  margin: 1em;
}

#contact-form {
  margin-top: 15px;
}

label {
  display: block;
}

input[type='text'],
input[type='email'],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 95%;
}

input[type='submit'] {
  display: block;
  background-color: #555;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
}

input[type='submit']:hover {
  background-color: #16588e;
}

small {
  color: red;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='file'],
input[type='year'],
input[type='date'],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 95%;
}

input[type='submit'] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#gallery figure {
  padding: 0.5em;
  margin: 0 1em 0.5em 1em;
  width: 30%;
  border: 1px dashed 000056;
}
#gallery figcaption {
  margin-top: 10px;
  font-size: 90%;
  height: 50px;
  text-align: center;
}

video {
  margin: 0 1em 1em 1em;
  float: left;
}

/* Admin panel */
.AddLink {
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #ffffff !important;
  display: block;
  background-color: #555;
  margin: 8px 2px;
  padding: 3px;
  width: 120px;
  text-align: center;
}

.AddLink:hover {
  background-color: #16588e;
  text-decoration: none;
}

/* Table */
table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 100%;
}

th {
  background: url(http://jackrugile.com/images/misc/noise-diagonal.png),
    linear-gradient(#064b71, #16588e);
  border-left: 1px solid #064b71;
  border-right: 1px solid #16588e;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
}

th:after {
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.08)
  );
  content: '';
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #777;
  box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}

td:first-child {
  box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
}

tr {
  background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
  background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

/* End Table */

#admin {
  width: 100%;
}
#admin ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}

#admin ul li {
  float: left;
}

#admin ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.2em 1.4em;
  text-decoration: none;
}

#admin ul li a:hover {
  background-color: #16588e;
  color: white;
}

footer {
  background-color: #555;
  padding: 0.5em;
  clear: both;
}

footer p {
  text-align: center;
  color: white;
}

footer img {
  width: 20px;
}

@media screen and (max-width: 900px) {
  figure {
    width: 90%;
    margin: 1em;
  }
  #gallery figure {
    width: 100%;
  }
}
